<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-sm bg-dark fixed-top" style="padding-left: 20px;">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='classical.00000.wav.png')}}" style="width: 40px;">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/how_it_works">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results">Try it out</a>
                </li>
            </ul>
        </nav>

        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">Music Genre Identifier</h1>
        <br>

        <div class="container">
            
            <!-- https://unsplash.com/s/photos/music-band -->
            <img src="{{ url_for('static', filename='jazz_subway.jpg')}}" style="padding:0; display:block; margin:0 auto; max-width:50%">
            <br>

            <p style="text-align: center;">
                Can't figure out what genre a piece of music is? We can help. Upload a clip and our model will tell you.
            </p>
            <br>

            <h3>Learn more</h3>
            <br>
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ url_for('static', filename='blues.00000.wav.png')}}" class="mx-auto d-block" style="max-height: 160px;">
                            </div>
                            <div class="card-footer">
                                <a href="/results">Try it out</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ url_for('static', filename='inceptionv3onc--oview.png')}}" class="mx-auto d-block" style="max-height: 160px; max-width: 400px;">
                            </div>
                            <div class="card-footer">
                                <a href="/how_it_works">How it works</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- https://github.com/logos -->
                                <img src="{{ url_for('static', filename='GitHub-Mark.png')}}" class="mx-auto d-block" style="max-height: 160px;">
                            </div>
                            <div class="card-footer">
                                <a href="https://github.com">Github</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
        <br>
        <br>


        <script src="" async defer></script>
    </body>   
</html>